<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QuesGen</title>
    <link rel="stylesheet" href="/static/css/about_style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <nav></nav>
    <div class="header">

    </div>

    <div class="container">

        <div class="about">
            <div class="left">
                <h1>About us</h1>
                <hr>
                <p>We are a group of passion-driven and hardworking students poised to shift paradigms and make online
                    education more interactive, productive and efficient.
                    With this system, we are looking forward to help millions of students, teachers, working professional,
                    or basically anyone, who wishes to grab a new skill.
                    We are very excited to complete this project.
                </p>

                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p> -->

            </div>
            <div class="right">
                <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
            </div>
            <div class="clear"></div>
        </div>



        <!-- <div class="mission">

            <div class="left">
                <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
            </div>
            <div class="right">
                <h1>Mission Statement</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
            <div class="clear"></div>

        </div> -->



        <div class="team">
            <h1> Our Team
                <hr>
            </h1>


            <div class="card">
                <div class="circle-container">
                    <h1 style="color:#fff;">AB</h1>
                </div>
                <h2>Aniket Bansal</h2>
                <!-- <h4>Evangelist</h4> -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.</p>
            </div>



            <div class="card">
                <div class="circle-container">
                    <h1 style="color:#fff;">AS</h1>
                </div>
                <h2>Ayan Sadhukhan</h2>
                <!-- <h4>Evangelist</h4> -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.</p>
            </div>



            <div class="card">
                <div class="circle-container">
                    <h1 style="color:#fff;">PMV</h1>
                </div>
                <h2>P M Vyshnavi</h2>
                <!-- <h4>Evangelist</h4> -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.</p>
            </div>

            <!-- <div class="card">
                <div class="circle-container">
                    <h1 style="color:#fff;">A</h1>
                </div>
                <h2>Anhsuman</h2>
                <h4> Advisor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.</p>
            </div>



            <div class="card">
                <div class="circle-container">
                    <h1 style="color:#fff;">S</h1>
                </div>
                <h2>Shruti</h2>
                <h4> Advisor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.</p>
            </div> -->


        </div>


    </div>
    <!-- <footer>
   <br>
   <p>Copyright ©2020 @@@@@@@@. All rights reserved</p>
</footer> -->
    <!-- partial -->

</body>

</html>